:root {
  --text-size-adjust: 286%;
 }

 a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'Adjusted Arial';
  size-adjust: 113%; 
  src: local(Arial);
}

* {
  box-sizing: border-box;
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
  font-family: 'Merriweather', 'adjusted apple system';
}

#__next {
  height: 100%;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
 
}

.invisible {
  visibility: hidden;
}

h1, h2 {
  margin-block-start: auto;
  margin-block-end: auto;
}

body {
  background: black;

}

#root {
  overflow: auto;
}

p {
  line-height: 30px;
}

.note {
  margin-left: auto;
  margin-right: clamp(20px, 7.1825vw, 125px);
  margin-top: 100vh;
  max-width: 500px;
  /* max-width: 100%; */
  border-radius: 5px;
  background: rgb(1 4 9 / 87%);
  color: white;
 
  box-sizing: border-box;
}

.note-inner {
  padding: 20px 40px;
}



.text-title {
  box-sizing: border-box;
  font-size: 36px;
}

.text-subtitle {
  margin: 10px 0;
  font-size: 20px;
  line-height: 27px;
}

.canvas {
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
  z-index: -1 !important;
  min-height: 800px;
}

canvas {
  position: fixed !important;
  z-index: -1 !important;
  
}

.sidebar {
  height: 100vh;
  width: 50vw;
  left: 0;
  top: 0;
  background: black;
  padding: 80px 80px 80px 80px;
  box-sizing: border-box;
  color: white;
  position: fixed;
  font-size: 18px;
  overflow: auto;
}

.sidebar-mobile {
  display: none;
  padding: 30px 60px;
  margin: 350px 0;
}

/* @keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.sidebar-content, .sidebar-content2 {
  opacity: 0;
  animation: fade-in 1000ms forwards ease;
} */

.title-container {
  color: white;
  width: 100%;
  margin: 0 auto;
  top: 0;
  position: absolute;
  display: flex;
}

.page1-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 30px 10px; */
  padding: 30px 0;
  
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
  
}

.title {
  font-size: clamp(27px, 5.78vw, 44px);
  padding-bottom: 5px;
}

.creator {
  font-size: clamp(16px, 5vw, 24px);
  color: #31d192;
}

@media only screen and (max-width: 1400px) {
  .sidebar {
    width: 100vw;
    height: auto;
    position: relative;
    
  }

  .sidebar-desktop {
    display: none;
  }

  .sidebar-mobile {
    display: block;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .note {
    margin-right: auto;
    max-width: 100%;
    width: 500px;
    margin-top: 0px;
   
  }

  .note-first {
    margin-top: 100vh;
  }

  

  /* .page1-title-container {
    margin-left: auto !important;
    padding-left: 60px;
  } */

  .text-title {
    font-size: 27px;
  }
}

.falling-bills-section {
  height: 10vh;
  width: 100vw;
  opacity: 0 !important;
  background: black;
  /* background: red; */
}

@media only screen and (max-width: 1300px) {

  .page1-title-container {
    margin-left: auto !important;
    padding-left: 60px;
  }

}

@media only screen and (max-width: 1000px) {

  .page1-title-container {
    padding-left: 40px;
  }

  .sidebar-mobile {
    padding: 30px 40px;
    margin: 250px auto;
  }

  

}

@media only screen and (max-width: 700px) {

  .page1-title-container {
    padding-left: 20px;
  }

  .sidebar-mobile {
    padding: 20px;
  }

  .note-inner {
    padding: 20px;
  }

  

}


